# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.svn
node_modules-1/_@esbuild_win32-x64@0.16.17@@esbuild/win32-x64/esbuild.exe
BC4Key.txt
.vscode/settings.json
.vscode/launch.json
.vscode/bookmarks.json
