@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1657703462438') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-analysistemplate:before {
  content: "\e605";
}

.icon-appendice:before {
  content: "\e606";
}

.icon-apply:before {
  content: "\e607";
}

.icon-add:before {
  content: "\e608";
}

.icon-abouttoexpire-2:before {
  content: "\e609";
}

.icon-bottom:before {
  content: "\e60a";
}

.icon-bookview:before {
  content: "\e60b";
}

.icon-close2:before {
  content: "\e60c";
}

.icon-clackwise:before {
  content: "\e60d";
}

.icon-close:before {
  content: "\e60e";
}

.icon-contrast:before {
  content: "\e60f";
}

.icon-database:before {
  content: "\e610";
}

.icon-copy:before {
  content: "\e611";
}

.icon-counterclockwise:before {
  content: "\e612";
}

.icon-date:before {
  content: "\e613";
}

.icon-deleteback:before {
  content: "\e614";
}

.icon-delete:before {
  content: "\e615";
}

.icon-defaultradiobutton:before {
  content: "\e616";
}

.icon-derive:before {
  content: "\e617";
}

.icon-defaultcheckbox:before {
  content: "\e618";
}

.icon-detail:before {
  content: "\e619";
}

.icon-doublepage:before {
  content: "\e61a";
}

.icon-documentattribute:before {
  content: "\e61b";
}

.icon-download:before {
  content: "\e61c";
}

.icon-edit:before {
  content: "\e61d";
}

.icon-down:before {
  content: "\e61e";
}

.icon-expired-2:before {
  content: "\e61f";
}

.icon-essay:before {
  content: "\e620";
}

.icon-forwardpage:before {
  content: "\e621";
}

.icon-forward:before {
  content: "\e622";
}

.icon-goback:before {
  content: "\e623";
}

.icon-flod:before {
  content: "\e624";
}

.icon-fullscreen:before {
  content: "\e625";
}

.icon-feedback:before {
  content: "\e626";
}

.icon-guide:before {
  content: "\e627";
}

.icon-handtool:before {
  content: "\e628";
}

.icon-horizontalroll:before {
  content: "\e629";
}

.icon-help:before {
  content: "\e62a";
}

.icon-jobmanagement:before {
  content: "\e62b";
}

.icon-information:before {
  content: "\e62c";
}

.icon-inquire:before {
  content: "\e62d";
}

.icon-lastpagr:before {
  content: "\e62e";
}

.icon-list:before {
  content: "\e62f";
}

.icon-more:before {
  content: "\e630";
}

.icon-mark:before {
  content: "\e631";
}

.icon-left:before {
  content: "\e632";
}

.icon-joinblacklist:before {
  content: "\e633";
}

.icon-more2:before {
  content: "\e634";
}

.icon-movedown:before {
  content: "\e635";
}

.icon-news:before {
  content: "\e636";
}

.icon-pageone:before {
  content: "\e637";
}

.icon-moveup:before {
  content: "\e638";
}

.icon-newzoomin:before {
  content: "\e639";
}

.icon-next:before {
  content: "\e63a";
}

.icon-payattention:before {
  content: "\e63b";
}

.icon-previous:before {
  content: "\e63c";
}

.icon-phone:before {
  content: "\e63d";
}

.icon-quit:before {
  content: "\e63e";
}

.icon-proofread:before {
  content: "\e63f";
}

.icon-refresh:before {
  content: "\e640";
}

.icon-removeblacklist:before {
  content: "\e641";
}

.icon-remove:before {
  content: "\e642";
}

.icon-reportmanagement:before {
  content: "\e643";
}

.icon-resetpassword:before {
  content: "\e644";
}

.icon-right:before {
  content: "\e645";
}

.icon-search:before {
  content: "\e646";
}

.icon-save:before {
  content: "\e647";
}

.icon-selectthecheckbox:before {
  content: "\e648";
}

.icon-selecttheradiobutton:before {
  content: "\e649";
}

.icon-send:before {
  content: "\e64a";
}

.icon-set:before {
  content: "\e64b";
}

.icon-shrinkdown:before {
  content: "\e64c";
}

.icon-shares:before {
  content: "\e64d";
}

.icon-singlepage:before {
  content: "\e64e";
}

.icon-stretch:before {
  content: "\e64f";
}

.icon-switchsidebar:before {
  content: "\e650";
}

.icon-stepback:before {
  content: "\e651";
}

.icon-stepbackpage:before {
  content: "\e652";
}

.icon-switch:before {
  content: "\e653";
}

.icon-textselection:before {
  content: "\e654";
}

.icon-template:before {
  content: "\e655";
}

.icon-tiledroll:before {
  content: "\e656";
}

.icon-tile:before {
  content: "\e657";
}

.icon-title:before {
  content: "\e658";
}

.icon-transpose:before {
  content: "\e659";
}

.icon-top:before {
  content: "\e65a";
}

.icon-unflod:before {
  content: "\e65b";
}

.icon-unread:before {
  content: "\e65c";
}

.icon-up:before {
  content: "\e65d";
}

.icon-underreview:before {
  content: "\e65e";
}

.icon-user:before {
  content: "\e65f";
}

.icon-upload:before {
  content: "\e660";
}

.icon-usage:before {
  content: "\e661";
}

.icon-verticalroll:before {
  content: "\e662";
}

.icon-navigation:before {
  content: "\e663";
}

.icon-reply:before {
  content: "\e664";
}

.icon-synchronization:before {
  content: "\e665";
}

.icon-clone:before {
  content: "\e666";
}

.icon-inkandwater:before {
  content: "\e667";
}

.icon-set-2:before {
  content: "\e668";
}

.icon-headportrait:before {
  content: "\e669";
}

.icon-enable:before {
  content: "\e66a";
}

.icon-disable:before {
  content: "\e66b";
}

.icon-already:before {
  content: "\e66c";
}

.icon-not:before {
  content: "\e66d";
}

.icon-hide:before {
  content: "\e66e";
}

.icon-Accountunfreezing:before {
  content: "\e66f";
}

.icon-display:before {
  content: "\e670";
}

.icon-selected:before {
  content: "\e671";
}

.icon-hidetheme:before {
  content: "\e672";
}

.icon-showtheme:before {
  content: "\e673";
}

.icon-editnotechart:before {
  content: "\e674";
}

.icon-chartmanegement:before {
  content: "\e675";
}

.icon-notechartmanegement:before {
  content: "\e676";
}

.icon-customchart:before {
  content: "\e677";
}

.icon-customnotechart:before {
  content: "\e678";
}

.icon-editchart:before {
  content: "\e679";
}

.icon-verticalmagnification:before {
  content: "\e67a";
}

.icon-verticalreduction:before {
  content: "\e67b";
}

.icon-narrow:before {
  content: "\e67c";
}

.icon-enlarge:before {
  content: "\e67d";
}

.icon-backoff:before {
  content: "\e67e";
}

.icon-help2:before {
  content: "\e67f";
}

.icon-pie:before {
  content: "\e680";
}

.icon-line:before {
  content: "\e681";
}

.icon-histogram:before {
  content: "\e682";
}

.icon-stack:before {
  content: "\e683";
}

.icon-logo:before {
  content: "\e684";
}

.icon-a-businessincome:before {
  content: "\e685";
}

.icon-a-rightsandinterests:before {
  content: "\e686";
}

.icon-a-totalasset:before {
  content: "\e687";
}

.icon-a-cashflow:before {
  content: "\e688";
}

.icon-a-netprofit:before {
  content: "\e689";
}

.icon-vip:before {
  content: "\e68a";
}

.icon-a-inapplication:before {
  content: "\e68b";
}

.icon-home:before {
  content: "\e68c";
}

.icon-a-timeperiodanalysisi:before {
  content: "\e68d";
}

.icon-a-comparisoncompany:before {
  content: "\e68e";
}

.icon-a-informationexpress:before {
  content: "\e68f";
}

.icon-a-administratorsettings:before {
  content: "\e690";
}

.icon-a-usersettings:before {
  content: "\e691";
}

.icon-home1:before {
  content: "\e712";
}

.icon-a-alignbothends:before {
  content: "\e722";
}

.icon-a-aligntop:before {
  content: "\e723";
}

.icon-a-alignleft:before {
  content: "\e724";
}

.icon-a-alignright:before {
  content: "\e725";
}

.icon-a-alignhorizontalcenter:before {
  content: "\e726";
}

.icon-a-alignbottom:before {
  content: "\e727";
}

.icon-a-alignverticalcenter:before {
  content: "\e728";
}

.icon-wechat-1:before {
  content: "\e693";
}

.icon-wechat-3:before {
  content: "\e694";
}

.icon-wxpay:before {
  content: "\e695";
}

.icon-data:before {
  content: "\e692";
}

.icon-enterprise:before {
  content: "\e696";
}

.icon-a-specificuser:before {
  content: "\e697";
}

.icon-enlarge2:before {
  content: "\e698";
}

.icon-narrow2:before {
  content: "\e699";
}

.icon-eliminate:before {
  content: "\e69a";
}

.icon-a-customerservice:before {
  content: "\e69b";
}

.icon-QQ:before {
  content: "\e69c";
}

.icon-micro-blog:before {
  content: "\e69d";
}

.icon-a-selectthecheckbox2:before {
  content: "\e69e";
}

.icon-a-newlybuild:before {
  content: "\e69f";
}

.icon-toutiao:before {
  content: "\e6a0";
}

.icon-we-chat:before {
  content: "\e6a2";
}

.icon-xueqiu:before {
  content: "\e6a3";
}

.icon-summary:before {
  content: "\e6a4";
}

.icon-arrow-2:before {
  content: "\e6a5";
}

.icon-arrow:before {
  content: "\e6a6";
}

.icon-a-enterprisewechat:before {
  content: "\e6a1";
}

.icon-a-setasdefault:before {
  content: "\e6a7";
}

.icon-a-chartlink:before {
  content: "\e6a8";
}

.icon-a-applyforinvoicing:before {
  content: "\e6a9";
}

.icon-a-allshares:before {
  content: "\e6aa";
}

.icon-a-horizontallayout:before {
  content: "\e6ab";
}

.icon-a-verticallayout:before {
  content: "\e6ac";
}

.icon-help3:before {
  content: "\e6ad";
}

.icon-a-mergecolumn:before {
  content: "\e6ae";
}

.icon-a-creatorcenter:before {
  content: "\e6af";
}

.icon-dashboard:before {
  content: "\e6b0";
}

.icon-a-dragsort:before {
  content: "\e6b1";
}

.icon-a-movein:before {
  content: "\e6b2";
}

.icon-sort:before {
  content: "\e6b4";
}

.icon-location:before {
  content: "\e6b3";
}

.icon-a-annualizeddata:before {
  content: "\e6b5";
}

.icon-a-seasonaldata:before {
  content: "\e6b6";
}

.icon-a-defaultpresentation:before {
  content: "\e6b7";
}

.icon-a-notdisplayedbydefault:before {
  content: "\e6b8";
}

.icon-a-annualizeddata-2:before {
  content: "\e6b9";
}

.icon-a-newrule:before {
  content: "\e6ba";
}

.icon-a-seasonaldata-2:before {
  content: "\e6bb";
}

.icon-format:before {
  content: "\e6bc";
}

