// 多行文本超出部分显示省略号
@mixin TextEllipsis ($lineClampNum:2){
	display: -webkit-box;
	-webkit-line-clamp: $lineClampNum;
	text-overflow: ellipsis;
	overflow: hidden;
	word-break: break-all;
	white-space: break-spaces;
	-webkit-box-orient: vertical;
}

// 单行文本溢出部分显示省略号
@mixin SingleTextEllipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// 修改uni-tag的样式
/* #ifdef MP */
@mixin myUniTagStyle {
	margin-right: 10rpx;
	text-align: center;
	.uni-tag {
		position: relative;
		left: 5px;
		font-size: 14px;
		font-weight: 500;
		border-radius: 2px;
		line-height: 20px;
		color: black;
		&.uni-tag--primary {
			background-color: $color-border-main;
			border-color: #c0d5f9;
		}
		&.uni-tag--primary--inverted {
			background-color: #fff;
			border-color: $color-border-main;
		}
	}	
}
/* #endif */
/* #ifdef H5 */
@mixin myUniTagStyle {
	.uni-tag {
		position: relative;
		left: 5px;
		font-size: 14px;
		font-weight: 500;
		border-radius: 2px;
		line-height: 20px;
		color: black;
		&.uni-tag--primary {
			background-color: $color-border-main;
			border-color: #c0d5f9;
		}
		&.uni-tag--primary--inverted {
			background-color: #fff;
			border-color: $color-border-main;
		}
	}	
}
/* #endif */

// 自定义data-select组件的样式
@mixin DcbDataSelect {
	.data-select {
		display: flex;
		justify-content: space-between;
		width: 220rpx;
		padding: 10rpx 20rpx;
		border-radius: 2px;
		border: 1px solid #e9f1fd;
		.data-select__content {
			color: $color-666;
			@include SingleTextEllipsis;
		}
		.data-select__arrow {
			display: inline-block;
			position: relative;
			top: 7px;
			left: 2px;
			content: "";
			width: 0;
			height: 0;
			border-width: 6px 5px 6px 5px;
			border-style: solid;
			border-color: transparent;
			border-top-color: $color-666;
		}
	}
}